@import 'core/utils';
@import 'core/typography';
@import 'core/base';
@import 'core/libs';
@import 'layouts/header';
@import 'layouts/footer';
@import 'adaptive/xxl';
@import 'adaptive/xl';
@import 'adaptive/lg';
@import 'adaptive/md';
@import 'adaptive/sm';
@import 'adaptive/xs';
//************ fonts *******//
@font-face {
    font-family: ArtegraSoft-Regular;
    src: url(../fonts/ArtegraSoft-Regular.woff);
}

@font-face {
    font-family: ArtegraSoft-Bold;
    src: url(../fonts/ArtegraSoft-Bold.woff);
}

@font-face {
    font-family: Arial;
    src: url(../fonts/Arial.woff);
}

@font-face {
    font-family: ArtegraSoft-Medium;
    src: url(../fonts/ArtegraSoft-Medium.woff);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto.woff);
}

//********* style **********//
.header {
    background: #0066B2;
    padding: 48px 0 75px;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.navbar-brand {
    width: 231px;
    height: 58px;
}

.container {
    max-width: 1120px;
}

.navbar__item-link {
    display: inline-block;
    margin: 0 0 0 53px;
    &:nth-child(1) {
        margin: 0;
    }
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navbar-toggler {
    width: 50px;
    height: 20px;
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main {
    margin: -1px 0 213px;
    position: relative;
    background: #0066B2;
    padding: 0;
    height: 900px;
    h1 {
        margin: 0 0 21px;
        font-family: ArtegraSoft-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 52px;
        line-height: 150%;
        width: 886px;
        height: 156px;
        /* or 78px */
        text-transform: uppercase;
        color: #FFFFFF;
    }
    p {
        margin: 0 0 81px;
        width: 581px;
        height: 60px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 177.49%;
        /* or 30px */
        color: #FFFFFF;
    }
}

.data__link {
    position: absolute;
    left: -170px;
    top: 555px;
    transform: rotate(-90deg);
}

.data__mail {
    width: 184px;
    height: 16px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: 0.165em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.data__phone {
    margin: 22px 0 0 49px;
    width: 122px;
    height: 16px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: 0.165em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pin-main {
    position: absolute;
    right: -120px;
    top: 40px;
    width: 385px;
    height: 409px;
}

.data__link-img {
    transform: rotate(90deg);
    width: 23px;
    height: 23px;
    margin: 0 0 0 16px;
}

.header__product {
    width: 1201px;
    height: 678px;
}

.section {
    padding: 0;
}

.information__company {
    width: 351px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 23px;
    h2 {
        width: 221px;
        height: 45px;
        font-family: ArtegraSoft-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 150%;
        /* identical to box height, or 45px */
        text-transform: uppercase;
        /* black */
        color: #2B2A29;
    }
}

.info-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 161.99%;
    /* or 26px */
    /* black */
    color: #2B2A29;
    width: 460px;
    height: 234px;
    &:nth-child(2) {
        margin: 0 25px 0 110px;
    }
}

.info-data {
    margin: 106px 0 0;
    width: 258px;
    height: 16px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    letter-spacing: 0.165em;
    text-transform: uppercase;
    color: #2B2A29;
    transform: rotate(-90deg);
}

.information-detail {
    margin: 54px 0 112px;
    width: 175px;
    height: 46px;
    background: #0066B2;
    font-family: ArtegraSoft-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.information-detal {
    margin: 0 0 94px;
    width: 175px;
    height: 46px;
    background: #0066B2;
    font-family: ArtegraSoft-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.item {
    margin: 0 10px 0 0;
}

.center {
    cursor: url('../img/carousel-indecator.png'), auto
}

.slick-list {
    padding: 0 20% 0 0;
}

.information-carousel {
    margin: 0 0 113px;
}

.information__diler {
    width: 351px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 23px;
    h2 {
        width: 221px;
        height: 45px;
        font-family: ArtegraSoft-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 150%;
        /* identical to box height, or 45px */
        text-transform: uppercase;
        /* black */
        color: #2B2A29;
    }
}

.info-convenience {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 110px;
}

.info-services {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
    h3 {
        width: 249px;
        height: 40px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 161.99%;
        /* or 40px */
        /* black */
        color: #2B2A29;
        margin: 0 0 0 20px;
    }
    img {
        width: 48px;
        height: 33px;
    }
}

.oval {
    width: 78px;
    height: 78px;
    /* Main */
    background: #0066B2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-discounts {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
    h3 {
        width: 266px;
        height: 40px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 161.99%;
        /* or 40px */
        /* black */
        color: #2B2A29;
        margin: 0 0 0 20px;
    }
    img {
        width: 42px;
        height: 40px;
    }
}

.info-quality {
    display: flex;
    align-items: center;
    h3 {
        width: 366px;
        height: 40px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 161.99%;
        /* or 40px */
        /* black */
        color: #2B2A29;
        margin: 0 0 0 20px;
    }
    img {
        width: 42px;
        height: 52px!important;
    }
}

.section {
    position: relative;
}

.pin-body {
    position: absolute;
    right: -165px;
    top: -39px;
    width: 332px;
    height: 484px;
}

.products__info {
    width: 351px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 23px;
    h2 {
        width: 221px;
        height: 45px;
        font-family: ArtegraSoft-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 150%;
        /* identical to box height, or 45px */
        text-transform: uppercase;
        /* black */
        color: #2B2A29;
    }
}

.products {
    padding: 83px 0 105px;
    background-color: #DFE3E6;
}

.products-all {
    margin: 0 0 48px;
    width: 154px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        width: 127px;
        height: 32px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 161.99%;
        /* or 32px */
        text-align: right;
        /* black */
        color: #2B2A29;
    }
    img {
        width: 20px;
        height: 13px;
    }
}

.product-soda {
    background-color: white;
    width: 360px;
    height: 480px;
}

.product-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 30px;
    b {
        width: 113px;
        height: 60px;
        font-family: ArtegraSoft-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 120%;
        /* or 30px */
        /* black */
        color: #2B2A29;
    }
    img {
        width: 32px;
        height: 21px;
    }
}

.product-meat {
    background-color: white;
    width: 360px;
    height: 480px;
    margin: 0 0 0 20px;
}

.product-yell {
    background-color: white;
    width: 360px;
    height: 480px;
    position: relative;
    margin: 0 0 0 20px;
}

.tin-can-one {
    position: absolute;
    top: 104px;
    left: 111px;
    z-index: 2;
}

.tin-can-two {
    position: absolute;
    top: 104px;
    left: 111px;
    z-index: 1;
}

.soon {
    position: absolute;
    top: 18px;
    left: 14px;
    width: 77px;
    height: 30px;
    background: #FFFFFF;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 161.99%;
    /* or 32px */
    text-align: center;
    /* Main */
    color: #0066B2;
}

.footer {
    .container {
        display: flex;
    }
    overflow-y: hidden;
    position: relative;
    padding: 85px 0 37px;
    background: url(../img/footer-back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.footer-info {
    width: 231px;
    height: 209px;
    img {
        height: 58px;
        width: 231px;
        margin: 0 0 20px;
    }
    p {
        width: 238px;
        height: 150px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 177.49%;
        /* or 30px */
        color: #FFFFFF;
    }
}

.footer-page {
    display: flex;
    flex-direction: column;
    margin: 0 144px 0 78px;
    h2 {
        height: 22px;
        font-family: ArtegraSoft-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        /* White */
        color: #FFFFFF;
        margin: 0 0 21px;
    }
    a {
        font-family: ArtegraSoft-Medium;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 30px;
        /* or 214% */
        /* White */
        color: #FFFFFF;
        mix-blend-mode: normal;
    }
}

.footer-link {
    margin: 0 99px 0 0;
    h2 {
        height: 22px;
        font-family: ArtegraSoft-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        /* White */
        color: #FFFFFF;
        margin: 0 0 27px;
    }
    a {
        font-family: ArtegraSoft-Medium;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 31px;
        /* White */
        color: #FFFFFF;
        mix-blend-mode: normal;
        b {
            margin: 0 0 0 18px;
            font-family: ArtegraSoft-Bold;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            /* White */
            color: #FFFFFF;
        }
        .mail {
            margin: 0 0 0 40px;
        }
        .location {
            margin: 0 0 0 33px;
            width: 204px;
            height: 34px;
        }
    }
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.footer-contact {
    h2 {
        height: 22px;
        width: 156px;
        font-family: ArtegraSoft-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        /* White */
        color: #FFFFFF;
        margin: 0 0 31px;
    }
    .img {
        margin: 0 19px;
    }
}

.footer-pin {
    position: absolute;
    right: 30px;
    bottom: -200px;
    width: 385px;
    height: 385px;
}

.end {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #0066B2;
    width: 100%;
    font-family: ArtegraSoft-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    /* White */
    color: #FFFFFF;
    mix-blend-mode: normal;
}

@media (max-width: 320px) {
    .header {
        padding: 20px 0;
        .container {
            display: block;
        }
    }
    .navbar-brand {
        img {
            width: 150px;
        }
    }
    .main h1 {
        font-size: 15px;
        width: 100%;
        height: 100%;
    }
    .main p {
        font-size: 11px;
        width: 70%;
        height: 100%;
        margin: 0 0 10px;
    }
    .pin-main {
        display: none;
    }
    .data__link {
        transform: rotate(0);
        left: 15px;
        top: 330px;
    }
    .data__mail {
        width: 100%;
        height: 100%;
        font-size: 8px;
    }
    .data__phone {
        width: 100%;
        height: 100%;
        font-size: 8px;
        margin: 22px 0 0 10px;
    }
    .data__link-img {
        transform: rotate(0);
        width: 11px;
        height: 11px;
        margin: 0 0 0 5px;
    }
    .navbar-toggler {
        transform: translate(95px, -5px);
    }
    .collapse {
        display: none;
    }
    .play {
        display: block;
    }
    .navbar__item-link {
        &:nth-child(1) {
            margin: 15px auto;
        }
        margin: 0 auto 15px;
        display: block;
    }
    .navbar__item {
        text-align: center;
    }
    .navbar__item-link {
        font-size: 12px;
    }
    .header__product {
        width: 100%;
        height: 100%;
    }
    .main {
        height: 385px;
        margin: 0;
    }
    .information__company h2 {
        font-size: 16px;
        width: 120px;
        height: 100%;
    }
    .information__company {
        margin: 25px 0 20px;
        font-size: 16px;
        width: 200px;
        img {
            width: 50px;
        }
    }
    .section {
        .d-flex {
            display: block!important;
        }
    }
    .info-text {
        font-size: 10px;
        width: 100%;
        height: 100%;
        &:nth-child(2) {
            margin: 20px 0;
        }
    }
    .info-data {
        width: 100px;
        font-size: 10px;
    }
    .information-detail {
        margin: 17px 0 30px;
        width: 100%;
        height: 30px;
        border-radius: 3px;
        font-size: 12px;
    }
    .item {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .information-carousel {
        display: none;
    }
    .information__diler h2 {
        font-size: 16px;
        width: 120px;
        height: 100%;
    }
    .information__diler {
        font-size: 16px;
        width: 200px;
        img {
            width: 50px;
        }
    }
    .pin-body {
        display: none;
    }
    .info-convenience {
        margin: 10px 0;
    }
    .info-services {
        img {
            width: 18px;
            height: 12px;
        }
        h3 {
            font-size: 14px;
            width: 205px;
            height: 100%;
        }
    }
    .oval {
        width: 40px!important;
        height: 40px;
    }
    .info-discounts {
        align-items: center;
        img {
            width: 22px;
            height: 18px;
        }
        h3 {
            font-size: 14px;
            width: 205px;
            height: 100%;
        }
    }
    .info-quality {
        img {
            width: 18px;
            height: 12px;
        }
        h3 {
            font-size: 14px;
            width: 205px;
            height: 100%;
        }
    }
    .information-detal {
        margin: 17px 0 30px;
        width: 100%;
        height: 30px;
        border-radius: 3px;
        font-size: 12px;
    }
    .products__info h2 {
        font-size: 16px;
        width: 120px;
        height: 100%;
    }
    .products__info {
        font-size: 16px;
        width: 155px;
        img {
            width: 50px;
        }
    }
    .products {
        padding: 30px 0;
        .d-flex:nth-child(2) {
            display: block!important;
        }
    }
    .products-all {
        margin: 0 0 27px;
        p {
            font-size: 11px;
            height: 100%;
        }
        img {
            width: 11px;
            height: 100%;
        }
    }
    .product-yell {
        margin: 20px 0 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
        }
    }
    .product-soda {
        img {
            width: 100%;
        }
        width: 100%;
        height: 100%;
    }
    .product-meat {
        margin: 20px 0 0;
        img {
            width: 100%;
        }
        width: 100%;
        height: 100%;
    }
    .product-title {
        padding: 10px;
        b {
            width: 100%;
            height: 100%;
            font-size: 16px;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
    .soon {
        font-size: 13px;
        width: 60px;
        height: 20px;
        top: 10px;
        left: 10px;
    }
    .tin-can-one {
        position: absolute;
        top: 50px;
        left: 40px;
        width: 130px!important;
        height: 190px;
    }
    .tin-can-two {
        position: absolute;
        top: 50px;
        left: 60px;
        width: 218px!important;
        height: 218px;
    }
    .footer {
        padding: 30px 0;
        .container {
            display: block!important;
        }
        background: #0066B2;
    }
    .footer-info {
        text-align: center;
        width: 100%;
        height: 100%;
        img {
            margin: 0 auto;
        }
        p {
            margin: 20px 0 0;
            width: 100%;
            height: 100%;
        }
    }
    .footer-link {
        h2 {
            margin: 0 0 10px;
        }
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 20px 0 0;
    }
    .footer-page {
        h2 {
            margin: 0 0 10px;
        }
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 20px 0 0;
    }
    .footer-contact {
        h2 {
            margin: 0 auto 10px;
        }
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 20px 0 0;
        .d-flex {
            justify-content: center;
        }
    }
    .footer-pin {
        display: none;
    }
}